In [53]:
import pandas as pd

In [54]:
# function to read txt data files and convert them to proper csv files
# txtFile: input filename (including directory if applicable)
# csvFile: output filename (including directory if applicable)
# vtabchar: vertical tab character in the original file (to be replaced with newline command '\n')
# delim: delimiter character used in the original file (to be replaced with comma)
def txt2csv(txtFile, csvFile, vtabchar, delim):
    with open(txtFile, 'r') as file:
        data = file.read().replace(vtabchar, '\n').replace(delim, ',')
    with open(csvFile, 'w') as file:
        file.write(data)    
    return csvFile

In [55]:
# set the filename and location for each dataset
# original filename and directory 
K1DI2_txt = './Data/Komponente/Komponente_K1DI2.txt'
K2LE1_txt = './Data/Komponente/Komponente_K2LE1.txt' 
K2LE2_txt = './Data/Komponente/Komponente_K2LE2.txt'
K2ST1_txt = './Data/Komponente/Komponente_K2ST1.txt'
K3AG2_txt = './Data/Komponente/Komponente_K3AG2.txt'
K7_txt    = './Data/Komponente/Komponente_K7.txt'

# modified filename and directory (for txt data files)
K1DI2_csv = './Data/Komponente/Komponente_K1DI2.csv'
K2LE1_csv = './Data/Komponente/Komponente_K2LE1.csv'
K2LE2_csv = './Data/Komponente/Komponente_K2LE2.csv'
K2ST1_csv = './Data/Komponente/Komponente_K2ST1.csv'
K3AG2_csv = './Data/Komponente/Komponente_K3AG2.csv'
K7_csv    = './Data/Komponente/Komponente_K7.csv'

In [56]:
# read and convert all the txt data files to csv
txt2csv(K1DI2_txt, K1DI2_csv, '	', '\\')
txt2csv(K2LE1_txt, K2LE1_csv, '', 'II')
txt2csv(K2LE2_txt, K2LE2_csv, '', '\\')
txt2csv(K2ST1_txt, K2ST1_csv, '', '|')
txt2csv(K3AG2_txt, K3AG2_csv, '', '\\')
txt2csv(K7_txt   , K7_csv   , '', '	')

'./Data/Komponente/Komponente_K7.csv'

In [57]:
# read the converted csv files
K1DI2 = pd.read_csv(K1DI2_csv, parse_dates=['Fehlerhaft_Datum', 'origin'],
                    low_memory=False)
K2LE1 = pd.read_csv(K2LE1_csv, parse_dates=['Produktionsdatum.x', 'Fehlerhaft_Datum.x',
                    'Produktionsdatum.y', 'Fehlerhaft_Datum.y'],
                    low_memory=False)
K2LE2 = pd.read_csv(K2LE2_csv, parse_dates=['Fehlerhaft_Datum', 'origin'],
                    low_memory=False)
K2ST1 = pd.read_csv(K2ST1_csv, parse_dates=['Produktionsdatum', 'Fehlerhaft_Datum'],
                    low_memory=False)
K3AG2 = pd.read_csv(K3AG2_csv, parse_dates=['Fehlerhaft_Datum', 'origin'],
                    low_memory=False)
K7    = pd.read_csv(K7_csv, parse_dates=['Fehlerhaft_Datum', 'origin'],
                    low_memory=False)

# read the rest of the csv files

In [58]:
K1DI2

,X1,ID_Motor,Herstellernummer,Werksnummer,Fehlerhaft,Fehlerhaft_Datum,Fehlerhaft_Fahrleistung,Produktionsdatum_Origin_01011970,origin
1,1,K1DI2-103-1031-2,103,1031,0,NaT,0,14195,1970-01-01
2,2,K1DI2-103-1031-9,103,1031,0,NaT,0,14196,1970-01-01
3,3,K1DI2-103-1031-10,103,1031,0,NaT,0,14196,1970-01-01
4,4,K1DI2-103-1031-11,103,1031,0,NaT,0,14196,1970-01-01
5,5,K1DI2-103-1031-12,103,1031,0,NaT,0,14196,1970-01-01
...,...,...,...,...,...,...,...,...,...
409418,409418,K1DI2-102-1021-242328,102,1021,0,NaT,0,17113,1970-01-01
409419,409419,K1DI2-102-1021-241662,102,1021,1,2017-10-11,26747,17107,1970-01-01
409420,409420,K1DI2-102-1021-242706,102,1021,0,NaT,0,17116,1970-01-01
409421,409421,K1DI2-103-1031-160839,103,1031,0,NaT,0,17104,1970-01-01
409422,409422,K1DI2-102-1021-240926,102,1021,1,2017-10-04,26090,17100,1970-01-01