In [17]:
import pandas as pd

In [18]:
# function to read txt data files and convert them to proper csv files
# txtFile: input filename (including directory if applicable)
# csvFile: output filename (including directory if applicable)
# vtabchar: vertical tab character in the original file (to be replaced with newline command '\n')
# delim: delimiter character used in the original file (to be replaced with comma)
def txt2csv(txtFile, csvFile, vtabchar, delim):
    with open(txtFile, 'r') as file:
        data = file.read().replace(vtabchar, '\n').replace(delim, ',')
    with open(csvFile, 'w') as file:
        file.write(data)    
    return

Set the filename and location for each dataset

In [19]:
# original filename and directory for txt data files
K1DI2_txt = './Data/Komponente/Komponente_K1DI2.txt'
K2LE1_txt = './Data/Komponente/Komponente_K2LE1.txt' 
K2LE2_txt = './Data/Komponente/Komponente_K2LE2.txt'
K2ST1_txt = './Data/Komponente/Komponente_K2ST1.txt'
K3AG2_txt = './Data/Komponente/Komponente_K3AG2.txt'
K7_txt    = './Data/Komponente/Komponente_K7.txt'

# converted txt filename and directory
K1DI2_csv = './Data/Komponente/Komponente_K1DI2.csv'
K2LE1_csv = './Data/Komponente/Komponente_K2LE1.csv'
K2LE2_csv = './Data/Komponente/Komponente_K2LE2.csv'
K2ST1_csv = './Data/Komponente/Komponente_K2ST1.csv'
K3AG2_csv = './Data/Komponente/Komponente_K3AG2.csv'
K7_csv    = './Data/Komponente/Komponente_K7.csv'

# original filename and directory for csv data files
# component data files
K1BE1_csv = './Data/Komponente/Komponente_K1BE1.csv'
K1BE2_csv = './Data/Komponente/Komponente_K1BE2.csv'
K1DI1_csv = './Data/Komponente/Komponente_K1DI1.csv'
K2ST2_csv = './Data/Komponente/Komponente_K2ST2.csv'
K3AG1_csv = './Data/Komponente/Komponente_K3AG1.csv'
K3SG1_csv = './Data/Komponente/Komponente_K3SG1.csv'
K3SG2_csv = './Data/Komponente/Komponente_K3SG2.csv'
K4_csv    = './Data/Komponente/Komponente_K4.csv'
K5_csv    = './Data/Komponente/Komponente_K5.csv'
K6_csv    = './Data/Komponente/Komponente_K6.csv'    

# vehicle data files
bestFahr1_11_csv = './Data/Fahrzeug/Bestandteile_Fahrzeuge_OEM1_Typ11.csv'
bestFahr1_12_csv = './Data/Fahrzeug/Bestandteile_Fahrzeuge_OEM1_Typ12.csv'
bestFahr2_21_csv = './Data/Fahrzeug/Bestandteile_Fahrzeuge_OEM2_Typ21.csv'
bestFahr2_22_csv = './Data/Fahrzeug/Bestandteile_Fahrzeuge_OEM2_Typ22.csv'

fahr1_11_csv = './Data/Fahrzeug/Fahrzeuge_OEM1_Typ11.csv'
fahr1_12_csv = './Data/Fahrzeug/Fahrzeuge_OEM1_Typ12.csv'
fahr2_21_csv = './Data/Fahrzeug/Fahrzeuge_OEM2_Typ21.csv'
fahr2_22_csv = './Data/Fahrzeug/Fahrzeuge_OEM2_Typ22.csv'

In [20]:
# read and convert all the txt data files to csv
txt2csv(K1DI2_txt, K1DI2_csv, '	', '\\')
txt2csv(K2LE1_txt, K2LE1_csv, '', 'II')
txt2csv(K2LE2_txt, K2LE2_csv, '', '\\')
txt2csv(K2ST1_txt, K2ST1_csv, '', '|')
txt2csv(K3AG2_txt, K3AG2_csv, '', '\\')
txt2csv(K7_txt   , K7_csv   , '', '	')

In [21]:
# separate the data arrangements into 4 types, namely A, B, C, and D. 
# this separation is based on the column names of the datetime data type
A = ['Fehlerhaft_Datum', 'origin']
B = ['Produktionsdatum.x', 'Fehlerhaft_Datum.x', 
     'Produktionsdatum.y', 'Fehlerhaft_Datum.y']
C = ['Produktionsdatum.x', 'Fehlerhaft_Datum.x', 
     'Produktionsdatum.y', 'Fehlerhaft_Datum.y', 
     'Produktionsdatum', 'Fehlerhaft_Datum']
D = ['Produktionsdatum', 'Fehlerhaft_Datum']

# set up a function to read the csv files
def csvReader(csvFile, arr_type, delim=None):
    if delim is not None:
        dataset = pd.read_csv(csvFile, parse_dates=arr_type, 
                          low_memory=False, sep=delim)
    else:
        dataset = pd.read_csv(csvFile, parse_dates=arr_type, 
                          low_memory=False)
    return dataset

# read the converted csv files using the csvReader function
K1DI2 = csvReader(K1DI2_csv, A)
K2LE1 = csvReader(K2LE1_csv, B)
K2LE2 = csvReader(K2LE2_csv, A)
K2ST1 = csvReader(K2ST1_csv, D)
K3AG2 = csvReader(K3AG2_csv, A)
K7    = csvReader(K7_csv, A)

# read the rest of the csv files using the csvReader function
K1BE1 = csvReader(K1BE1_csv, A)
K1BE2 = csvReader(K1BE2_csv, A, ';')
K1DI1 = csvReader(K1DI1_csv, C)
K2ST2 = csvReader(K2ST2_csv, A, ';')
K3AG1 = csvReader(K3AG1_csv, C)
K3SG1 = csvReader(K3SG1_csv, B)
K3SG2 = csvReader(K3SG2_csv, A)
K4    = csvReader(K4_csv,    B, ';')
K5    = csvReader(K5_csv,    B)
K6    = csvReader(K6_csv,    A, ';')

# # read the vehicle data:
# bestFahr1_11 = pd.read_csv(bestFahr1_11_csv)
# bestFahr1_12 = pd.read_csv(bestFahr1_12_csv)
# bestFahr2_21 = pd.read_csv(bestFahr2_21_csv, sep=';')
# bestFahr2_22 = pd.read_csv(bestFahr2_22_csv, sep=';')
# fahr1_11 = pd.read_csv(fahr1_11_csv, parse_dates=D, low_memory=False)
# fahr1_12 = pd.read_csv(fahr1_12_csv, parse_dates=D, low_memory=False)
# fahr2_21 = pd.read_csv(fahr2_21_csv, parse_dates=A, low_memory=False)
# fahr2_22 = pd.read_csv(fahr2_22_csv, parse_dates=A, low_memory=False, sep=';')

For datasets with data arrangements of type B and C, we need to consolidate the columns and eliminate the .x and .y suffixes. For type B, the tables are separated into 2, whereas for type C, the tables are separated into 3.

In [22]:
# column names to be renamed for type B
col_names_x = {'Produktionsdatum.x':'Produktionsdatum', 
               'Herstellernummer.x':'Herstellernummer',	
               'Werksnummer.x':'Werksnummer',
               'Fehlerhaft.x':'Fehlerhaft', 
               'Fehlerhaft_Datum.x':'Fehlerhaft_Datum',
               'Fehlerhaft_Fahrleistung.x':'Fehlerhaft_Fahrleistung'}
col_names_y = {'Produktionsdatum.y':'Produktionsdatum', 
               'Herstellernummer.y':'Herstellernummer',	
               'Werksnummer.y':'Werksnummer',
               'Fehlerhaft.y':'Fehlerhaft', 
               'Fehlerhaft_Datum.y':'Fehlerhaft_Datum',
               'Fehlerhaft_Fahrleistung.y':'Fehlerhaft_Fahrleistung'}

# separate type B tables based on the suffixes, rename the columns, and 
# concatenate vertically, and finally extract the columns that contain the data.
# the cleaned up dataset is added with suffix '_c'
def streamlineTypeB(dataset, colx, coly, ID, IDx, IDy):
    dataset_x = dataset[dataset[IDx].notna()].rename(columns=colx)
    dataset_y = dataset[dataset[IDy].notna()].rename(columns=coly)
    dataset_x = dataset_x.rename(columns={IDx : ID})
    dataset_y = dataset_y.rename(columns={IDy : ID})
    dataset_x = dataset_x.loc[:, ID:'Fehlerhaft_Fahrleistung']
    dataset_y = dataset_y.loc[:, ID:'Fehlerhaft_Fahrleistung']
    dataset_c = pd.concat([dataset_x, dataset_y], axis=0).reset_index(drop=True)
    return dataset_c

K2LE1_c = streamlineTypeB(K2LE1, col_names_x, col_names_y, 
                            'ID_Sitze','ID_Sitze.x','ID_Sitze.y')
K3SG1_c = streamlineTypeB(K3SG1, col_names_x, col_names_y, 
                            'ID_Schaltung','ID_Schaltung.x','ID_Schaltung.y')
K4_c    = streamlineTypeB(K4, col_names_x, col_names_y, 
                            'ID_Karosserie','ID_Karosserie.x','ID_Karosserie.y')
K5_c    = streamlineTypeB(K5, col_names_x, col_names_y, 
                            'ID_Karosserie','ID_Karosserie.x','ID_Karosserie.y')

# separate type C tables based on the suffixes, rename the columns, and 
# concatenate vertically, and finally extract the columns that contain the data.
# the cleaned up dataset is added with suffix '_c'
def streamlineTypeC(dataset, colx, coly, ID, IDx, IDy):
    dataset_x = dataset[dataset[IDx].notna()].loc[:, IDx:'Fehlerhaft_Fahrleistung.x'].rename(columns=colx)
    dataset_y = dataset[dataset[IDy].notna()].loc[:, IDy:'Fehlerhaft_Fahrleistung.y'].rename(columns=coly)
    dataset_  = dataset[dataset[ID].notna()]
    dataset_x = dataset_x.rename(columns={IDx : ID})
    dataset_y = dataset_y.rename(columns={IDy : ID})
    dataset_  = dataset_.loc[:, ID:'Fehlerhaft_Fahrleistung']    
    dataset_c = pd.concat([dataset_x, dataset_y, dataset_], axis=0).reset_index(drop=True)
    return dataset_c

K1DI1_c = streamlineTypeC(K1DI1, col_names_x, col_names_y,
                          'ID_Motor','ID_Motor.x','ID_Motor.y')
K3AG1_c = streamlineTypeC(K3AG1, col_names_x, col_names_y,
                          'ID_Schaltung','ID_Schaltung.x','ID_Schaltung.y')

In [24]:
def addProduktionsDatum(dataset):
    dataset['Produktionsdatum'] = dataset['origin'] + pd.to_timedelta(dataset['Produktionsdatum_Origin_01011970'].astype('int'), unit='days')
    return dataset

def reformatDataset(dataset, ID):
    dataset_c = pd.concat([dataset.loc[:,ID], 
                           dataset.loc[:,'Produktionsdatum'], 
                           dataset.loc[:,'Herstellernummer':'Fehlerhaft_Fahrleistung']], axis=1)
    return dataset_c

K1BE1_c = reformatDataset(addProduktionsDatum(K1BE1),'ID_Motor')
K1BE2_c = reformatDataset(addProduktionsDatum(K1BE2),'ID_Motor')
K1DI2_c = reformatDataset(addProduktionsDatum(K1DI2),'ID_Motor')
K2LE2_c = reformatDataset(addProduktionsDatum(K2LE2),'ID_Sitze')
K2ST2_c = reformatDataset(addProduktionsDatum(K2ST2),'ID_Sitze')
K3AG2_c = reformatDataset(addProduktionsDatum(K3AG2),'ID_Schaltung')
K3SG2_c = reformatDataset(addProduktionsDatum(K3SG2),'ID_Schaltung')
K6_c    = reformatDataset(addProduktionsDatum(K6),'ID_Karosserie')
K7_c    = reformatDataset(addProduktionsDatum(K7),'ID_Karosserie')

Now with all the datasets clean and proper, we can start doing the case analysis. In this case study, the components produced between January 1st, 2011 and December 31st, 2015 will be considered. 

First, we filter out the components that is not produced within the considered time period.

In [31]:
# pd.concat([K1BE1.loc[:,'Produktionsdatum'], K1BE1.loc[:, 'ID_Motor':'Fehlerhaft_Fahrleistung']], axis=1)
K1DI1_c

,ID_Motor,Produktionsdatum,Herstellernummer,Werksnummer,Fehlerhaft,Fehlerhaft_Datum,Fehlerhaft_Fahrleistung
0,K1DI1-101-1041-90,2008-11-13,101.0,1011.0,0.0,NaT,0.0
1,K1DI1-101-1041-12,2008-11-13,101.0,1011.0,1.0,2010-03-09,21509.0
2,K1DI1-101-1041-55,2008-11-13,101.0,1011.0,0.0,NaT,0.0
3,K1DI1-101-1041-34,2008-11-13,101.0,1011.0,0.0,NaT,0.0
4,K1DI1-101-1041-50,2008-11-13,101.0,1011.0,0.0,NaT,0.0
...,...,...,...,...,...,...,...
1192625,K1DI1-103-1031-474128,2016-11-13,103.0,1031.0,0.0,NaT,0.0
1192626,K1DI1-103-1031-474116,2016-11-13,103.0,1031.0,0.0,NaT,0.0
1192627,K1DI1-103-1031-474652,2016-11-15,103.0,1031.0,0.0,NaT,0.0
1192628,K1DI1-103-1031-476510,2016-11-16,103.0,1031.0,0.0,NaT,0.0
1192629,K1DI1-103-1031-474130,2016-11-14,103.0,1031.0,0.0,NaT,0.0

In [29]:
startDate = '2011-01-01'
endDate   = '2015-12-31'

K1BE1[(K1BE1['Produktionsdatum'] >= startDate) & (K1BE1['Produktionsdatum'] <= endDate)].loc[:,'ID_Motor':'Fehlerhaft_Fahrleistung']

,ID_Motor,Herstellernummer,Werksnummer,Fehlerhaft,Fehlerhaft_Datum,Fehlerhaft_Fahrleistung
317043,K1BE1-104-1041-189672,104,1041,0,NaT,0
317076,K1BE1-104-1041-189768,104,1041,0,NaT,0
317138,K1BE1-104-1041-189821,104,1041,0,NaT,0
317298,K1BE1-104-1041-189693,104,1041,0,NaT,0
317454,K1BE1-102-1021-31087,102,1021,0,NaT,0
...,...,...,...,...,...,...
1064768,K1BE1-101-1011-317399,101,1011,0,NaT,0
1064844,K1BE1-104-1041-634582,104,1041,0,NaT,0
1064859,K1BE1-104-1041-634383,104,1041,0,NaT,0
1064900,K1BE1-104-1041-634612,104,1041,0,NaT,0
1064969,K1BE1-101-1011-317400,101,1011,0,NaT,0

In [ ]:
startDate = '2011-01-01'
endDate   = '2015-12-31'

K1BE1_2011_15 = K1BE1[(K1BE1['Produktionsdatum'] >= startDate) & 
                      (K1BE1['Produktionsdatum'] <= endDate)]
K1DI1_2011_15 = K1DI1_c[(K1DI1_c['Produktionsdatum'] >= startDate) &
                        (K1DI1_c['Produktionsdatum'] <= endDate)]
K1DI2_2011_15 = K1DI2[(K1DI2['Produktionsdatum'] >= startDate) & 
                      (K1DI2['Produktionsdatum'] <= endDate)]

KeyError: 'Produktionsdatum'