In [233]:
import pandas as pd

In [234]:
# function to read txt data files and convert them to proper csv files
# txtFile: input filename (including directory if applicable)
# csvFile: output filename (including directory if applicable)
# vtabchar: vertical tab character in the original file (to be replaced with newline command '\n')
# delim: delimiter character used in the original file (to be replaced with comma)
def txt2csv(txtFile, csvFile, vtabchar, delim):
    with open(txtFile, 'r') as file:
        data = file.read().replace(vtabchar, '\n').replace(delim, ',')
    with open(csvFile, 'w') as file:
        file.write(data)    
    return

Set the filename and location for each dataset

In [235]:
# original filename and directory for txt data files
K1DI2_txt = './Data/Komponente/Komponente_K1DI2.txt'
K2LE1_txt = './Data/Komponente/Komponente_K2LE1.txt' 
K2LE2_txt = './Data/Komponente/Komponente_K2LE2.txt'
K2ST1_txt = './Data/Komponente/Komponente_K2ST1.txt'
K3AG2_txt = './Data/Komponente/Komponente_K3AG2.txt'
K7_txt    = './Data/Komponente/Komponente_K7.txt'

# converted txt filename and directory
K1DI2_csv = './Data/Komponente/Komponente_K1DI2.csv'
K2LE1_csv = './Data/Komponente/Komponente_K2LE1.csv'
K2LE2_csv = './Data/Komponente/Komponente_K2LE2.csv'
K2ST1_csv = './Data/Komponente/Komponente_K2ST1.csv'
K3AG2_csv = './Data/Komponente/Komponente_K3AG2.csv'
K7_csv    = './Data/Komponente/Komponente_K7.csv'

# original filename and directory for csv data files
# component data files
K1BE1_csv = './Data/Komponente/Komponente_K1BE1.csv'
K1BE2_csv = './Data/Komponente/Komponente_K1BE2.csv'
K1DI1_csv = './Data/Komponente/Komponente_K1DI1.csv'
K2ST2_csv = './Data/Komponente/Komponente_K2ST2.csv'
K3AG1_csv = './Data/Komponente/Komponente_K3AG1.csv'
K3SG1_csv = './Data/Komponente/Komponente_K3SG1.csv'
K3SG2_csv = './Data/Komponente/Komponente_K3SG2.csv'
K4_csv    = './Data/Komponente/Komponente_K4.csv'
K5_csv    = './Data/Komponente/Komponente_K5.csv'
K6_csv    = './Data/Komponente/Komponente_K6.csv'    

# vehicle data files
bestFahr1_11_csv = './Data/Fahrzeug/Bestandteile_Fahrzeuge_OEM1_Typ11.csv'
bestFahr1_12_csv = './Data/Fahrzeug/Bestandteile_Fahrzeuge_OEM1_Typ12.csv'
bestFahr2_21_csv = './Data/Fahrzeug/Bestandteile_Fahrzeuge_OEM2_Typ21.csv'
bestFahr2_22_csv = './Data/Fahrzeug/Bestandteile_Fahrzeuge_OEM2_Typ22.csv'

In [236]:
# read and convert all the txt data files to csv
txt2csv(K1DI2_txt, K1DI2_csv, '	', '\\')
txt2csv(K2LE1_txt, K2LE1_csv, '', 'II')
txt2csv(K2LE2_txt, K2LE2_csv, '', '\\')
txt2csv(K2ST1_txt, K2ST1_csv, '', '|')
txt2csv(K3AG2_txt, K3AG2_csv, '', '\\')
txt2csv(K7_txt   , K7_csv   , '', '	')

In [237]:
# separate the data arrangements into 4 types, namely A, B, C, and D. 
# this separation is based on the column names of the datetime data type
A = ['Fehlerhaft_Datum', 'origin']
B = ['Produktionsdatum.x', 'Fehlerhaft_Datum.x', 
     'Produktionsdatum.y', 'Fehlerhaft_Datum.y']
C = ['Produktionsdatum.x', 'Fehlerhaft_Datum.x', 
     'Produktionsdatum.y', 'Fehlerhaft_Datum.y', 
     'Produktionsdatum', 'Fehlerhaft_Datum']
D = ['Produktionsdatum', 'Fehlerhaft_Datum']

# read the converted csv files
K1DI2 = pd.read_csv(K1DI2_csv, parse_dates=A, low_memory=False)
K2LE1 = pd.read_csv(K2LE1_csv, parse_dates=B, low_memory=False)
K2LE2 = pd.read_csv(K2LE2_csv, parse_dates=A, low_memory=False)
K2ST1 = pd.read_csv(K2ST1_csv, parse_dates=D, low_memory=False)
K3AG2 = pd.read_csv(K3AG2_csv, parse_dates=A, low_memory=False)
K7    = pd.read_csv(K7_csv,    parse_dates=A, low_memory=False)

# read the rest of the csv files
K1BE1 = pd.read_csv(K1BE1_csv, parse_dates=A, low_memory=False)
K1BE2 = pd.read_csv(K1BE2_csv, parse_dates=A, low_memory=False, sep=';')
K1DI1 = pd.read_csv(K1DI1_csv, parse_dates=C, low_memory=False)
K2ST2 = pd.read_csv(K2ST2_csv, parse_dates=A, low_memory=False, sep=';')
K3AG1 = pd.read_csv(K3AG1_csv, parse_dates=C, low_memory=False)
K3SG1 = pd.read_csv(K3SG1_csv, parse_dates=B, low_memory=False)
K3SG2 = pd.read_csv(K3SG2_csv, parse_dates=A, low_memory=False)
K4    = pd.read_csv(K4_csv,    parse_dates=B, low_memory=False, sep=';')
K5    = pd.read_csv(K5_csv,    parse_dates=B, low_memory=False)
K6    = pd.read_csv(K6_csv,    parse_dates=A, low_memory=False, sep=';')

# read the vehicle data:
bestFahr1_11 = pd.read_csv(bestFahr1_11_csv)
bestFahr1_12 = pd.read_csv(bestFahr1_12_csv)
bestFahr2_21 = pd.read_csv(bestFahr2_21_csv)
bestFahr2_22 = pd.read_csv(bestFahr2_22_csv)

For datasets with data arrangements of type B and C, we need to consolidate the columns and eliminate the .x and .y suffixes. For type B, the tables are separated into 2, whereas for type C, the tables are separated into 3.

In [ ]:
# column names to be renamed for type B
col_names_x = {'Produktionsdatum.x':'Produktionsdatum', 
               'Herstellernummer.x':'Herstellernummer',	
               'Werksnummer.x':'Werksnummer',
               'Fehlerhaft.x':'Fehlerhaft', 
               'Fehlerhaft_Datum.x':'Fehlerhaft_Datum',
               'Fehlerhaft_Fahrleistung.x':'Fehlerhaft_Fahrleistung'}
col_names_y = {'Produktionsdatum.y':'Produktionsdatum', 
               'Herstellernummer.y':'Herstellernummer',	
               'Werksnummer.y':'Werksnummer',
               'Fehlerhaft.y':'Fehlerhaft', 
               'Fehlerhaft_Datum.y':'Fehlerhaft_Datum',
               'Fehlerhaft_Fahrleistung.y':'Fehlerhaft_Fahrleistung'}

# separate type B tables based on the suffixes, rename the columns, and 
# concatenate vertically, and finally extract the columns that contain the data.
# the cleaned up dataset is added with suffix '_c'
K2LE1_x = K2LE1[K2LE1['ID_Sitze.x'].notna()].rename(columns=col_names_x)
K2LE1_y = K2LE1[K2LE1['ID_Sitze.y'].notna()].rename(columns=col_names_y)
K2LE1_x = K2LE1_x.rename(columns={'ID_Sitze.x':'ID_Sitze'})
K2LE1_y = K2LE1_y.rename(columns={'ID_Sitze.y':'ID_Sitze'})
K2LE1_x = K2LE1_x.loc[:,'ID_Sitze':'Fehlerhaft_Fahrleistung']
K2LE1_y = K2LE1_y.loc[:,'ID_Sitze':'Fehlerhaft_Fahrleistung']
K2LE1_c = pd.concat([K2LE1_x, K2LE1_y], axis=0)

K3SG1_x = K3SG1[K3SG1['ID_Schaltung.x'].notna()].rename(columns=col_names_x)
K3SG1_y = K3SG1[K3SG1['ID_Schaltung.y'].notna()].rename(columns=col_names_y)
K3SG1_x = K3SG1_x.rename(columns={'ID_Schaltung.x':'ID_Schaltung'})
K3SG1_y = K3SG1_y.rename(columns={'ID_Schaltung.y':'ID_Schaltung'})
K3SG1_x = K3SG1_x.loc[:,'ID_Schaltung':'Fehlerhaft_Fahrleistung']
K3SG1_y = K3SG1_y.loc[:,'ID_Schaltung':'Fehlerhaft_Fahrleistung']
K3SG1_c = pd.concat([K3SG1_x, K3SG1_y], axis=0)

# separate type B tables based on the suffixes, rename the columns, and 
# concatenate vertically, and finally extract the columns that contain the data.
# the cleaned up dataset is added with suffix '_c'
K1DI1_x = K1DI1[K1DI1['ID_Motor.x'].notna()].loc[:,'ID_Motor.x':'Fehlerhaft_Fahrleistung.x'].rename(columns=col_names_x)
K1DI1_y = K1DI1[K1DI1['ID_Motor.y'].notna()].loc[:,'ID_Motor.y':'Fehlerhaft_Fahrleistung.y'].rename(columns=col_names_y)
K1DI1_  = K1DI1[K1DI1['ID_Motor'].notna()]
K1DI1_x = K1DI1_x.rename(columns={'ID_Motor.x':'ID_Motor'})
K1DI1_y = K1DI1_y.rename(columns={'ID_Motor.y':'ID_Motor'})
K1DI1_  = K1DI1_.loc[:,'ID_Motor':'Fehlerhaft_Fahrleistung']
K1DI1_c = pd.concat([K1DI1_x, K1DI1_y, K1DI1_], axis=0)

In [ ]:
K1DI1_c[(K1DI1_c['Produktionsdatum'] >= '2011-01-01') & (K1DI1_c['Produktionsdatum'] <= '2015-12-31')]

,ID_Motor,Produktionsdatum,Herstellernummer,Werksnummer,Fehlerhaft,Fehlerhaft_Datum,Fehlerhaft_Fahrleistung
126618,K1DI1-101-1041-126444,2011-01-01,101.0,1011.0,0.0,NaT,0.0
126655,K1DI1-101-1041-126392,2011-01-01,101.0,1011.0,0.0,NaT,0.0
126745,K1DI1-101-1041-126396,2011-01-01,101.0,1011.0,0.0,NaT,0.0
126759,K1DI1-101-1041-126436,2011-01-01,101.0,1011.0,0.0,NaT,0.0
126773,K1DI1-101-1041-126473,2011-01-01,101.0,1011.0,0.0,NaT,0.0
...,...,...,...,...,...,...,...
1141819,K1DI1-103-1031-422622,2015-12-29,103.0,1031.0,0.0,NaT,0.0
1141919,K1DI1-103-1031-423057,2015-12-31,103.0,1031.0,1.0,2017-04-25,19813.0
1141955,K1DI1-103-1031-423065,2015-12-31,103.0,1031.0,0.0,NaT,0.0
1141962,K1DI1-103-1031-423028,2015-12-31,103.0,1031.0,1.0,2017-04-25,19813.0
1142134,K1DI1-103-1031-423051,2015-12-31,103.0,1031.0,0.0,NaT,0.0