In [30]:
import pandas as pd

In [31]:
# function to read txt data files and convert them to proper csv files
# txtFile: input filename (including directory if applicable)
# csvFile: output filename (including directory if applicable)
# vtabchar: vertical tab character in the original file (to be replaced with newline command '\n')
# delim: delimiter character used in the original file (to be replaced with comma)
def txt2csv(txtFile, csvFile, vtabchar, delim):
    with open(txtFile, 'r') as file:
        data = file.read().replace(vtabchar, '\n').replace(delim, ',')
    with open(csvFile, 'w') as file:
        file.write(data)    
    return csvFile

In [32]:
# read and convert all the txt data files to csv
K1DI2 = txt2csv('./Data/Komponente/Komponente_K1DI2.txt', './Data/Komponente/Komponente_K1DI2.csv', '	', '\\')
K2LE1 = txt2csv('./Data/Komponente/Komponente_K2LE1.txt', './Data/Komponente/Komponente_K2LE1.csv', '', 'II')
K2LE2 = txt2csv('./Data/Komponente/Komponente_K2LE2.txt', './Data/Komponente/Komponente_K2LE2.csv', '', '\\')
K2ST1 = txt2csv('./Data/Komponente/Komponente_K2ST1.txt', './Data/Komponente/Komponente_K2ST1.csv', '', '|')
K3AG2 = txt2csv('./Data/Komponente/Komponente_K3AG2.txt', './Data/Komponente/Komponente_K3AG2.csv', '', '\\')
K7    = txt2csv('./Data/Komponente/Komponente_K7.txt'   , './Data/Komponente/Komponente_K7.csv'   , '', '	')

In [37]:
# read the converted csv files
K1DI2 = pd.read_csv('./Data/Komponente/Komponente_K1DI2.csv', 
                    parse_dates=['Fehlerhaft_Datum', 'origin'])
K2LE1 = pd.read_csv('./Data/Komponente/Komponente_K2LE1.csv', 
                    parse_dates=['Produktionsdatum.x', 'Fehlerhaft_Datum.x',
                                 'Produktionsdatum.y', 'Fehlerhaft_Datum.y'])
K2LE2 = pd.read_csv('./Data/Komponente/Komponente_K2LE2.csv', 
                    parse_dates=['Fehlerhaft_Datum', 'origin'])
K2ST1 = pd.read_csv('./Data/Komponente/Komponente_K2ST1.csv',
                    parse_dates=['Produktionsdatum', 'Fehlerhaft_Datum'])
K3AG2 = pd.read_csv('./Data/Komponente/Komponente_K3AG2.csv', 
                    parse_dates=['Fehlerhaft_Datum', 'origin'])
K7    = pd.read_csv('./Data/Komponente/Komponente_K7.csv', 
                      parse_dates=['Fehlerhaft_Datum', 'origin'])

# read the rest of the csv files

ValueError: Integer column has NA values in column 11

In [34]:
K7

,X1,ID_Karosserie,Herstellernummer,Werksnummer,Fehlerhaft,Fehlerhaft_Datum,Fehlerhaft_Fahrleistung,Produktionsdatum_Origin_01011970,origin
1,1,K7-114-1142-1,114,1142,0,NaT,0,14195,1970-01-01
2,2,K7-114-1142-2,114,1142,0,NaT,0,14195,1970-01-01
3,3,K7-114-1142-5,114,1142,0,NaT,0,14196,1970-01-01
4,4,K7-114-1142-8,114,1142,0,NaT,0,14196,1970-01-01
5,5,K7-114-1142-11,114,1142,0,NaT,0,14196,1970-01-01
...,...,...,...,...,...,...,...,...,...
306486,306486,K7-113-1132-153231,112,1132,0,NaT,0,17116,1970-01-01
306487,306487,K7-113-1132-153240,112,1132,0,NaT,0,17117,1970-01-01
306488,306488,K7-113-1132-153243,112,1132,0,NaT,0,17117,1970-01-01
306489,306489,K7-113-1132-153245,112,1132,0,NaT,0,17118,1970-01-01
306490,306490,K7-113-1132-153160,112,1132,0,NaT,0,17115,1970-01-01