In [2]:
import pandas as pd

In [3]:
# function to read txt data files and convert them to proper csv files
# txtFile: input filename (including directory if applicable)
# csvFile: output filename (including directory if applicable)
# vtabchar: vertical tab character in the original file (to be replaced with newline command '\n')
# delim: delimiter character used in the original file (to be replaced with comma)
def txt2csv(txtFile, csvFile, vtabchar, delim):
    with open(txtFile, 'r') as file:
        data = file.read().replace(vtabchar, '\n').replace(delim, ',')
    with open(csvFile, 'w') as file:
        file.write(data)    
    return

Set the filename and location for each dataset

In [4]:
# original filename and directory for txt data files
K1DI2_txt = './Data/Komponente/Komponente_K1DI2.txt'
K2LE1_txt = './Data/Komponente/Komponente_K2LE1.txt' 
K2LE2_txt = './Data/Komponente/Komponente_K2LE2.txt'
K2ST1_txt = './Data/Komponente/Komponente_K2ST1.txt'
K3AG2_txt = './Data/Komponente/Komponente_K3AG2.txt'
K7_txt    = './Data/Komponente/Komponente_K7.txt'

# converted txt filename and directory
K1DI2_csv = './Data/Komponente/Komponente_K1DI2.csv'
K2LE1_csv = './Data/Komponente/Komponente_K2LE1.csv'
K2LE2_csv = './Data/Komponente/Komponente_K2LE2.csv'
K2ST1_csv = './Data/Komponente/Komponente_K2ST1.csv'
K3AG2_csv = './Data/Komponente/Komponente_K3AG2.csv'
K7_csv    = './Data/Komponente/Komponente_K7.csv'

# original filename and directory for csv data files
# component data files
K1BE1_csv = './Data/Komponente/Komponente_K1BE1.csv'
K1BE2_csv = './Data/Komponente/Komponente_K1BE2.csv'
K1DI1_csv = './Data/Komponente/Komponente_K1DI1.csv'
K2ST2_csv = './Data/Komponente/Komponente_K2ST2.csv'
K3AG1_csv = './Data/Komponente/Komponente_K3AG1.csv'
K3SG1_csv = './Data/Komponente/Komponente_K3SG1.csv'
K3SG2_csv = './Data/Komponente/Komponente_K3SG2.csv'
K4_csv    = './Data/Komponente/Komponente_K4.csv'
K5_csv    = './Data/Komponente/Komponente_K5.csv'
K6_csv    = './Data/Komponente/Komponente_K6.csv'    

# vehicle data files
bestFahr1_11_csv = './Data/Fahrzeug/Bestandteile_Fahrzeuge_OEM1_Typ11.csv'
bestFahr1_12_csv = './Data/Fahrzeug/Bestandteile_Fahrzeuge_OEM1_Typ12.csv'
bestFahr2_21_csv = './Data/Fahrzeug/Bestandteile_Fahrzeuge_OEM2_Typ21.csv'
bestFahr2_22_csv = './Data/Fahrzeug/Bestandteile_Fahrzeuge_OEM2_Typ22.csv'

fahr1_11_csv = './Data/Fahrzeug/Fahrzeuge_OEM1_Typ11.csv'
fahr1_12_csv = './Data/Fahrzeug/Fahrzeuge_OEM1_Typ12.csv'
fahr2_21_csv = './Data/Fahrzeug/Fahrzeuge_OEM2_Typ21.csv'
fahr2_22_csv = './Data/Fahrzeug/Fahrzeuge_OEM2_Typ22.csv'

In [5]:
# read and convert all the txt data files to csv
txt2csv(K1DI2_txt, K1DI2_csv, '	', '\\')
txt2csv(K2LE1_txt, K2LE1_csv, '', 'II')
txt2csv(K2LE2_txt, K2LE2_csv, '', '\\')
txt2csv(K2ST1_txt, K2ST1_csv, '', '|')
txt2csv(K3AG2_txt, K3AG2_csv, '', '\\')
txt2csv(K7_txt   , K7_csv   , '', '	')

In [6]:
# separate the data arrangements into 4 types, namely A, B, C, and D. 
# this separation is based on the column names of the datetime data type
A = ['Fehlerhaft_Datum', 'origin']
B = ['Produktionsdatum.x', 'Fehlerhaft_Datum.x', 
     'Produktionsdatum.y', 'Fehlerhaft_Datum.y']
C = ['Produktionsdatum.x', 'Fehlerhaft_Datum.x', 
     'Produktionsdatum.y', 'Fehlerhaft_Datum.y', 
     'Produktionsdatum', 'Fehlerhaft_Datum']
D = ['Produktionsdatum', 'Fehlerhaft_Datum']

# read the converted csv files
K1DI2 = pd.read_csv(K1DI2_csv, parse_dates=A, low_memory=False)
K2LE1 = pd.read_csv(K2LE1_csv, parse_dates=B, low_memory=False)
K2LE2 = pd.read_csv(K2LE2_csv, parse_dates=A, low_memory=False)
K2ST1 = pd.read_csv(K2ST1_csv, parse_dates=D, low_memory=False)
K3AG2 = pd.read_csv(K3AG2_csv, parse_dates=A, low_memory=False)
K7    = pd.read_csv(K7_csv,    parse_dates=A, low_memory=False)

# read the rest of the csv files
K1BE1 = pd.read_csv(K1BE1_csv, parse_dates=A, low_memory=False)
K1BE2 = pd.read_csv(K1BE2_csv, parse_dates=A, low_memory=False, sep=';')
K1DI1 = pd.read_csv(K1DI1_csv, parse_dates=C, low_memory=False)
K2ST2 = pd.read_csv(K2ST2_csv, parse_dates=A, low_memory=False, sep=';')
K3AG1 = pd.read_csv(K3AG1_csv, parse_dates=C, low_memory=False)
K3SG1 = pd.read_csv(K3SG1_csv, parse_dates=B, low_memory=False)
K3SG2 = pd.read_csv(K3SG2_csv, parse_dates=A, low_memory=False)
K4    = pd.read_csv(K4_csv,    parse_dates=B, low_memory=False, sep=';')
K5    = pd.read_csv(K5_csv,    parse_dates=B, low_memory=False)
K6    = pd.read_csv(K6_csv,    parse_dates=A, low_memory=False, sep=';')

# read the vehicle data:
bestFahr1_11 = pd.read_csv(bestFahr1_11_csv)
bestFahr1_12 = pd.read_csv(bestFahr1_12_csv)
bestFahr2_21 = pd.read_csv(bestFahr2_21_csv, sep=';')
bestFahr2_22 = pd.read_csv(bestFahr2_22_csv, sep=';')
fahr1_11 = pd.read_csv(fahr1_11_csv, parse_dates=D, low_memory=False)
fahr1_12 = pd.read_csv(fahr1_12_csv, parse_dates=D, low_memory=False)
fahr2_21 = pd.read_csv(fahr2_21_csv, parse_dates=A, low_memory=False)
fahr2_22 = pd.read_csv(fahr2_22_csv, parse_dates=A, low_memory=False, sep=';')

For datasets with data arrangements of type B and C, we need to consolidate the columns and eliminate the .x and .y suffixes. For type B, the tables are separated into 2, whereas for type C, the tables are separated into 3.

In [51]:
# column names to be renamed for type B
col_names_x = {'Produktionsdatum.x':'Produktionsdatum', 
               'Herstellernummer.x':'Herstellernummer',	
               'Werksnummer.x':'Werksnummer',
               'Fehlerhaft.x':'Fehlerhaft', 
               'Fehlerhaft_Datum.x':'Fehlerhaft_Datum',
               'Fehlerhaft_Fahrleistung.x':'Fehlerhaft_Fahrleistung'}
col_names_y = {'Produktionsdatum.y':'Produktionsdatum', 
               'Herstellernummer.y':'Herstellernummer',	
               'Werksnummer.y':'Werksnummer',
               'Fehlerhaft.y':'Fehlerhaft', 
               'Fehlerhaft_Datum.y':'Fehlerhaft_Datum',
               'Fehlerhaft_Fahrleistung.y':'Fehlerhaft_Fahrleistung'}

# separate type B tables based on the suffixes, rename the columns, and 
# concatenate vertically, and finally extract the columns that contain the data.
# the cleaned up dataset is added with suffix '_c'
K2LE1_x = K2LE1[K2LE1['ID_Sitze.x'].notna()].rename(columns=col_names_x)
K2LE1_y = K2LE1[K2LE1['ID_Sitze.y'].notna()].rename(columns=col_names_y)
K2LE1_x = K2LE1_x.rename(columns={'ID_Sitze.x':'ID_Sitze'})
K2LE1_y = K2LE1_y.rename(columns={'ID_Sitze.y':'ID_Sitze'})
K2LE1_x = K2LE1_x.loc[:,'ID_Sitze':'Fehlerhaft_Fahrleistung']
K2LE1_y = K2LE1_y.loc[:,'ID_Sitze':'Fehlerhaft_Fahrleistung']
K2LE1_c = pd.concat([K2LE1_x, K2LE1_y], axis=0).reset_index(drop=True)

K3SG1_x = K3SG1[K3SG1['ID_Schaltung.x'].notna()].rename(columns=col_names_x)
K3SG1_y = K3SG1[K3SG1['ID_Schaltung.y'].notna()].rename(columns=col_names_y)
K3SG1_x = K3SG1_x.rename(columns={'ID_Schaltung.x':'ID_Schaltung'})
K3SG1_y = K3SG1_y.rename(columns={'ID_Schaltung.y':'ID_Schaltung'})
K3SG1_x = K3SG1_x.loc[:,'ID_Schaltung':'Fehlerhaft_Fahrleistung']
K3SG1_y = K3SG1_y.loc[:,'ID_Schaltung':'Fehlerhaft_Fahrleistung']
K3SG1_c = pd.concat([K3SG1_x, K3SG1_y], axis=0).reset_index(drop=True)

K4_x = K4[K4['ID_Karosserie.x'].notna()].rename(columns=col_names_x)
K4_y = K4[K4['ID_Karosserie.y'].notna()].rename(columns=col_names_y)
K4_x = K4_x.rename(columns={'ID_Karosserie.x':'ID_Karosserie'})
K4_y = K4_y.rename(columns={'ID_Karosserie.y':'ID_Karosserie'})
K4_x = K4_x.loc[:,'ID_Karosserie':'Fehlerhaft_Fahrleistung']
K4_y = K4_y.loc[:,'ID_Karosserie':'Fehlerhaft_Fahrleistung']
K4_c = pd.concat([K4_x, K4_y], axis=0).reset_index(drop=True)

K5_x = K5[K5['ID_Karosserie.x'].notna()].rename(columns=col_names_x)
K5_y = K5[K5['ID_Karosserie.y'].notna()].rename(columns=col_names_y)
K5_x = K5_x.rename(columns={'ID_Karosserie.x':'ID_Karosserie'})
K5_y = K5_y.rename(columns={'ID_Karosserie.y':'ID_Karosserie'})
K5_x = K5_x.loc[:,'ID_Karosserie':'Fehlerhaft_Fahrleistung']
K5_y = K5_y.loc[:,'ID_Karosserie':'Fehlerhaft_Fahrleistung']
K5_c = pd.concat([K5_x, K5_y], axis=0).reset_index(drop=True)

# separate type C tables based on the suffixes, rename the columns, and 
# concatenate vertically, and finally extract the columns that contain the data.
# the cleaned up dataset is added with suffix '_c'
K1DI1_x = K1DI1[K1DI1['ID_Motor.x'].notna()].loc[:,'ID_Motor.x':'Fehlerhaft_Fahrleistung.x'].rename(columns=col_names_x)
K1DI1_y = K1DI1[K1DI1['ID_Motor.y'].notna()].loc[:,'ID_Motor.y':'Fehlerhaft_Fahrleistung.y'].rename(columns=col_names_y)
K1DI1_  = K1DI1[K1DI1['ID_Motor'].notna()]
K1DI1_x = K1DI1_x.rename(columns={'ID_Motor.x':'ID_Motor'})
K1DI1_y = K1DI1_y.rename(columns={'ID_Motor.y':'ID_Motor'})
K1DI1_  = K1DI1_.loc[:,'ID_Motor':'Fehlerhaft_Fahrleistung']
K1DI1_c = pd.concat([K1DI1_x, K1DI1_y, K1DI1_], axis=0).reset_index(drop=True)

K3AG1_x = K3AG1[K3AG1['ID_Schaltung.x'].notna()].loc[:,'ID_Schaltung.x':'Fehlerhaft_Fahrleistung.x'].rename(columns=col_names_x)
K3AG1_y = K3AG1[K3AG1['ID_Schaltung.y'].notna()].loc[:,'ID_Schaltung.y':'Fehlerhaft_Fahrleistung.y'].rename(columns=col_names_y)
K3AG1_  = K3AG1[K3AG1['ID_Schaltung'].notna()]
K3AG1_x = K3AG1_x.rename(columns={'ID_Schaltung.x':'ID_Schaltung'})
K3AG1_y = K3AG1_y.rename(columns={'ID_Schaltung.y':'ID_Schaltung'})
K3AG1_  = K3AG1_.loc[:,'ID_Schaltung':'Fehlerhaft_Fahrleistung']
K3AG1_c = pd.concat([K3AG1_x, K3AG1_y, K3AG1_], axis=0).reset_index(drop=True)

Now with all the datasets clean and proper, we can start doing the case analysis. In this case study, the time period taken is between January 1st, 2011 and December 31st, 2015. The components chosen are components installed in the vechicles produced within the time period, which is based on the components list in the vehicle database. This is to ensure the same number of each component type within the time period.

First, we filter out the vehicle datasets, taking only data for vehicle produced during the time period. From the vehicle component dataset, we filter out the component datasets, taking only the components installed in the vehicles. Then we start finding out how many components installed in the vehicles experience failures, leading to eventual assessment of the suppliers.

For OEM2 (dataframe name 'fahr2_21' and 'fahr2_22'), the production date column is missing. So what we do is create a column of production dates using the data from the 'Produktionsdatum_Origin_01011970' column. This column contains the number of days passed since January 1st, 1970. We add the number of days from the 'Produktionsdatum_Origin_01011970' column to the dates in the 'origin' column.

In [8]:
# create a new column 'Produktionsdatum' for OEM2 datasets
fahr2_21['Produktionsdatum'] = fahr2_21['origin'] + pd.to_timedelta(fahr2_21['Produktionsdatum_Origin_01011970'], unit='days')
fahr2_22['Produktionsdatum'] = fahr2_22['origin'] + pd.to_timedelta(fahr2_22['Produktionsdatum_Origin_01011970'], unit='days')

In [9]:
# prepare a dataset of vehicles produced within time period (tp) from january 1st, 2011 until december 31st, 2015
fahr1_11_tp = (fahr1_11['Produktionsdatum'] >= '2011-01-01') & (fahr1_11['Produktionsdatum'] <= '2015-12-31')
fahr1_12_tp = (fahr1_12['Produktionsdatum'] >= '2011-01-01') & (fahr1_12['Produktionsdatum'] <= '2015-12-31')
fahr2_21_tp = (fahr2_21['Produktionsdatum'] >= '2011-01-01') & (fahr2_21['Produktionsdatum'] <= '2015-12-31')
fahr2_22_tp = (fahr2_22['Produktionsdatum'] >= '2011-01-01') & (fahr2_22['Produktionsdatum'] <= '2015-12-31')

fahr1_11_2011_15 = fahr1_11.loc[fahr1_11_tp,['ID_Fahrzeug','Produktionsdatum']].reset_index(drop=True)
fahr1_12_2011_15 = fahr1_12.loc[fahr1_12_tp,['ID_Fahrzeug','Produktionsdatum']].reset_index(drop=True)
fahr2_21_2011_15 = fahr2_21.loc[fahr2_21_tp,['ID_Fahrzeug','Produktionsdatum']].reset_index(drop=True)
fahr2_22_2011_15 = fahr2_22.loc[fahr2_22_tp,['ID_Fahrzeug','Produktionsdatum']].reset_index(drop=True)

Merge the Vehicle Identification Number - VIN (ID_Fahrzeug) and Production Date (Produktionsdatum) with the vehicle - components list dataset. This matches the VINs with the Components Identification Number - CIN (ID_Karosserie, ID_Schaltung, ID_Sitze, ID_Motor). Then merge the CINs with the components datasets that contains the production date, failures, etc. The final form of the table will contain columns of VINs, vehicle production dates, CINs, components production dates, and components failure information (failure status, failure date, and failure mileage).

All the vehicle and components datasets from now on will based on the vehicle production time period between January 1st, 2011 and December 31st, 2015.

In [40]:
fahr1_11_kompList = pd.merge(fahr1_11_2011_15, bestFahr1_11.loc[:,bestFahr1_11.columns != 'Unnamed: 0'], on='ID_Fahrzeug')
fahr1_12_kompList = pd.merge(fahr1_12_2011_15, bestFahr1_12.loc[:,bestFahr1_12.columns != 'Unnamed: 0'], on='ID_Fahrzeug')
fahr2_21_kompList = pd.merge(fahr2_21_2011_15, bestFahr2_21.loc[:,bestFahr2_21.columns != 'Unnamed: 0'], on='ID_Fahrzeug')
fahr2_22_kompList = pd.merge(fahr2_22_2011_15, bestFahr2_22.loc[:,bestFahr2_22.columns != 'X1'], on='ID_Fahrzeug')

In [54]:
K3AG1_c

,ID_Schaltung,Produktionsdatum,Herstellernummer,Werksnummer,Fehlerhaft,Fehlerhaft_Datum,Fehlerhaft_Fahrleistung
0,K3AG1-105-1051-36,2008-11-13,105.0,1051.0,0.0,NaT,0.0
1,K3AG1-105-1051-5,2008-11-13,105.0,1051.0,0.0,NaT,0.0
2,K3AG1-105-1051-28,2008-11-13,105.0,1051.0,0.0,NaT,0.0
3,K3AG1-105-1051-15,2008-11-13,105.0,1051.0,0.0,NaT,0.0
4,K3AG1-105-1051-16,2008-11-13,105.0,1051.0,1.0,2009-03-20,8415.0
...,...,...,...,...,...,...,...
477047,K3AG1-108-1082-93672,2016-11-08,108.0,1082.0,1.0,2018-07-21,34032.0
477048,K3AG1-108-1082-95024,2016-11-08,108.0,1082.0,0.0,NaT,0.0
477049,K3AG1-108-1082-93085,2016-11-08,108.0,1082.0,0.0,NaT,0.0
477050,K3AG1-108-1082-93153,2016-11-10,108.0,1082.0,0.0,NaT,0.0
477051,K3AG1-108-1082-95092,2016-11-10,108.0,1082.0,0.0,NaT,0.0

In [42]:
fahr1_11_kompList

,ID_Fahrzeug,Produktionsdatum,ID_Karosserie,ID_Schaltung,ID_Sitze,ID_Motor
0,11-1-11-312954,2011-01-01,K4-112-1121-521143,K3SG1-107-1071-299454,K2ST1-109-1092-502554,K1BE1-101-1011-94073
1,11-1-11-312955,2011-01-01,K4-112-1121-521151,K3SG1-107-1071-299627,K2ST1-109-1092-502264,K1DI1-101-1041-124291
2,11-1-11-312956,2011-01-01,K4-112-1121-521153,K3SG1-107-1071-299886,K2LE1-109-1091-125753,K1DI1-102-1021-61696
3,11-1-11-312957,2011-01-01,K4-112-1121-521155,K3SG1-107-1071-300535,K2LE1-109-1091-125693,K1BE1-104-1041-188045
4,11-1-11-312958,2011-01-01,K4-112-1121-521156,K3SG1-105-1051-200421,K2LE1-109-1091-125626,K1DI1-102-1021-61814
...,...,...,...,...,...,...
1237122,11-1-11-1053774,2015-12-31,K4-114-1141-967101,K3AG1-105-1051-124270,K2ST1-110-1101-742184,K1DI1-103-1031-420880
1237123,11-1-11-1053775,2015-12-31,K4-114-1141-967104,K3SG1-107-1071-1014460,K2ST1-110-1101-742158,K1BE1-101-1011-316526
1237124,11-1-11-1053776,2015-12-31,K4-114-1141-967113,K3SG1-107-1071-1013776,K2ST1-110-1101-741840,K1DI1-102-1021-209002
1237125,11-1-11-1053777,2015-12-31,K4-114-1141-967116,K3SG1-105-1051-677106,K2ST1-110-1101-741561,K1DI1-101-1041-420431
1237126,11-1-11-1053778,2015-12-31,K4-114-1141-967120,K3SG1-105-1051-677059,K2ST1-110-1101-741662,K1DI1-101-1041-421177

In [49]:
pd.merge(fahr1_11_kompList.loc[:,['ID_Fahrzeug', 'Produktionsdatum', 'ID_Sitze']],
                              K2LE1_c.loc[:, K2LE1_c.columns != 'Produktionsdatum'], on='ID_Sitze')

,ID_Fahrzeug,Produktionsdatum,ID_Sitze,Herstellernummer,Werksnummer,Fehlerhaft,Fehlerhaft_Datum,Fehlerhaft_Fahrleistung
0,11-1-11-312956,2011-01-01,K2LE1-109-1091-125753,109.0,1091.0,0,NaT,0.0
1,11-1-11-312957,2011-01-01,K2LE1-109-1091-125693,109.0,1091.0,0,NaT,0.0
2,11-1-11-312958,2011-01-01,K2LE1-109-1091-125626,109.0,1091.0,1,2012-11-26,34702.0
3,11-1-11-312962,2011-01-01,K2LE1-109-1091-125406,109.0,1091.0,0,NaT,0.0
4,11-1-11-312971,2011-01-01,K2LE1-109-1091-125839,109.0,1091.0,1,2012-11-27,34759.0
...,...,...,...,...,...,...,...,...
247813,11-1-11-1053746,2015-12-31,K2LE1-111-1111-233487,111.0,1111.0,1,2016-07-22,6557.0
247814,11-1-11-1053752,2015-12-31,K2LE1-111-1111-233406,111.0,1111.0,0,NaT,0.0
247815,11-1-11-1053756,2015-12-31,K2LE1-111-1111-233365,111.0,1111.0,0,NaT,0.0
247816,11-1-11-1053766,2015-12-31,K2LE1-111-1111-233267,111.0,1111.0,1,2016-07-21,6506.0
247817,11-1-11-1053769,2015-12-31,K2LE1-111-1111-233224,111.0,1111.0,0,NaT,0.0

Let us merge the VIN and components information for the OEM1 Typ11 vehicle:

In [47]:
# merge the VIN and body components using ID_Karosserie
fahr1_11Karosserie = pd.merge(fahr1_11_kompList.loc[:,'ID_Fahrzeug':'ID_Karosserie'], 
                              K4_c.loc[:, K4_c.columns != 'Produktionsdatum'], on='ID_Karosserie')
# merge the VIN and electrical components using ID_Schaltung
fahr1_11Schaltung1 = pd.merge(fahr1_11_kompList.loc[:,['ID_Fahrzeug', 'Produktionsdatum', 'ID_Schaltung']],
                              K3SG1_c.loc[:, K3SG1_c.columns != 'Produktionsdatum'], on='ID_Schaltung')
fahr1_11Schaltung2 = pd.merge(fahr1_11_kompList.loc[:,['ID_Fahrzeug', 'Produktionsdatum', 'ID_Schaltung']],
                              K3AG1_c.loc[:, K3AG1_c.columns != 'Produktionsdatum'], on='ID_Schaltung')
# merge the VIN and seat components using ID_Sitze
# fahr1_11Sitze      = pd.merge(fahr1_11_kompList.loc[:,['ID_Fahrzeug', 'Produktionsdatum', 'ID_Sitze']],
#                               K2.loc[:, K3SG1_c.columns != 'Produktionsdatum'], on='ID_Schaltung')

In [48]:
fahr1_11Schaltung

,ID_Fahrzeug,Produktionsdatum,ID_Schaltung,Herstellernummer,Werksnummer,Fehlerhaft,Fehlerhaft_Datum,Fehlerhaft_Fahrleistung
0,11-1-11-312954,2011-01-01,K3SG1-107-1071-299454,107.0,1071.0,0.0,NaT,0.0
1,11-1-11-312955,2011-01-01,K3SG1-107-1071-299627,107.0,1071.0,0.0,NaT,0.0
2,11-1-11-312956,2011-01-01,K3SG1-107-1071-299886,107.0,1071.0,1.0,2011-04-12,1702.0
3,11-1-11-312957,2011-01-01,K3SG1-107-1071-300535,107.0,1071.0,0.0,NaT,0.0
4,11-1-11-312958,2011-01-01,K3SG1-105-1051-200421,105.0,1051.0,1.0,2011-04-12,1702.0
...,...,...,...,...,...,...,...,...
989437,11-1-11-1053773,2015-12-31,K3SG1-105-1051-676981,105.0,1051.0,0.0,NaT,0.0
989438,11-1-11-1053775,2015-12-31,K3SG1-107-1071-1014460,107.0,1071.0,0.0,NaT,0.0
989439,11-1-11-1053776,2015-12-31,K3SG1-107-1071-1013776,107.0,1071.0,0.0,NaT,0.0
989440,11-1-11-1053777,2015-12-31,K3SG1-105-1051-677106,105.0,1051.0,0.0,NaT,0.0
989441,11-1-11-1053778,2015-12-31,K3SG1-105-1051-677059,105.0,1051.0,0.0,NaT,0.0